* {
    box-sizing: border-box;
}

[class = "col-"] {
    width: 100%
}

body {
    background-color:#DEF2F1;
    font-family: 'Futura', 'Arial';
    color: #17252A;
    margin: 0px;
    padding: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Grande', 'Arial';
    color: #2B7A78;
}

h1 {
    padding-top: 10px;
    text-align: center;
}

a, a:link, a:visited {
    color: #AA2B73;
    text-decoration: underline;
}

a:hover {
    color: #2B7A78;
}

header {
    background-color: #3AAFA9;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -50px;
    margin-bottom: 10px;
    height: 160px;
    overflow: hidden;
}

header p {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    color: #FEFFFF;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 130px;
}

header img{
    float: left;
    height: 100%;
    margin: 0px 0px 0px 5px;
    padding: 10px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -15px;
    padding: 0px;
}

nav button {
    border-style: none;
    font-size: 16px;
    font-family: 'Futura', 'Arial';
    width: 100%;
}

nav a, nav a:link, nav a:visited, nav button {
    color: #FEFFFF;
    display: block;
    text-decoration: none;
    background-color: #3AAFA9;
    padding: 5px;
    border-top: 3px solid #DEF2F1;
    width: 100%;
    text-align: center;
}

nav li:hover, nav button:hover, nav a:hover {
    background-color: #B9538D;
}

nav .dropdown {
   position: relative;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
}

nav .dropdown:hover .dropdown-content {
    display: block;
    background-color: #B9538D;
}

main section {
    background: #FEFFFF; /*#F9F9F9*/
    margin: 30px;
    padding: 0px 15px 15px 15px;
    overflow: hidden;
    border: 1px solid #B9538D;
}

main section img {
    float: left;
    max-height: 100%;
    margin: 0px 15px 0px 10px;
}

main section a, main section a:link, main section a:visited {
    color: #17252A;
    text-decoration: none;
}

main section:hover {
    box-shadow: 3px 3px 5px #B9538D,
        -3px -3px 5px #B9538D;
}

aside {
    text-align: center;
}

aside section {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

aside section div{
    width: 100%;
}

aside a, aside a:link, aside a:visited{
    color: #B9538D;
    text-decoration: none;
}

aside a:hover {
    color: #2B7A78;
    text-decoration: underline;
}

aside section img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

aside hr {
    width: 100%;
    border: 1px outset #B9538D;
    border-radius: 1px;
}

footer {
    background: #17252A;
    margin: 50px -50px -50px -50px;
    padding: 0px 50px 25px 50px;
}

footer h3, footer form {
    color: #FEFFFF;
}

input, textarea{
    margin: 3px;
}

.linkedin {
    margin: 3px;
    border-radius: 5px;
}

.github {
    margin: 3px;
    border-radius: 15px;
}
.center {
    text-align: center;
}

.resource_space {
    margin-top: 50px;
    margin-bottom: 0px;
}





/*for tablet*/
@media only screen and (min-width: 820px) {

    header img{
        margin-left: 5px;
        margin-right: auto;
    }

    nav ul {
        float: left;
        margin-top: -41px;
        text-align: center;
        width: 100%;
    }

    nav li {
        display: inline-block;
        width: 130px;
        margin-left: 6px;
    }

    nav a, nav a:link, nav a:visited, nav button {
        background-color: #DEF2F1;
        border-top: none;
        padding: 1px;
        color: #B9538D;
        display: inline-block;
        border-radius: 10px;
        width: 100%;
    }

   .dropdown-content {
        border-top: 2px solid #3AAFA9;
    }

    .dropdown-buttons {
        border: 2px solid #3AAFA9;
    }

    nav li:hover, nav a:hover, nav button:hover{
        color: #DEF2F1;
        background-color: #B9538D;
        border-radius: 10px;
    }

    nav .dropdown:hover .dropdown-content {
        background-color: transparent;
      border-radius: 10px;
  }

    .dropdown-buttons:hover {
        border: 2px solid #B9538D;
    }

    aside section {
        display: block;
        margin-top: 50px;
    }

    hr {
        visibility: hidden;
    }

    .vertical_line {
        height: 250px;
        border-right: 2px outset #B9538D;
    }


/* Grid System */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}

/* for desktop */
@media only screen and (min-width: 1024px) {

    nav ul {
        float: right;
        margin-right: 10px;
        width: auto;
    }

    aside section {
        display: block;
    }

    hr {
        visibility: visible;
    }

    .vertical_line {
        border-right: 0px;
    }

    /* grid system */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
